.allentities{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.entitie{
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image{
  width: 80%;
}