.title{
  text-align: center;
  margin: 50px 0;
}

.allentities {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px 25px;
}

.titlenft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.namenft {
  font-size: 21px;
  margin-bottom: 0;
}

.image {
  width: 415px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.favorite {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.favorite:before,
.favorite:after {
  content: "";
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.favorite:before {
  top: -5px;
  left: 0;
}

.favorite:after {
  left: 5px;
  top: 0;
}

.favoriteadd,
.favoriteadd:before,
.favoriteadd:after {
  background-color: red;
}

.favoriteremove,
.favoriteremove:before,
.favoriteremove:after {
  background-color: #627264;
}

.btn-main{
  background-color:#A1CDA8;
}
