/* Page détail produit */
.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 5% 15%;

}

h1, h2, h3, h4, h5 {
	color: #627264;
}

h2 {
	margin: 0;
	font-style: italic;
}

.product_essential {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.hr-horizontal {
	color: black;
    height: 2px;
    background-color: black;
    border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.w-60 {
	width: 60%;
}

.w-100 {
	width: 100%;
}

.ml-0 {
	margin-left: 0;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.img-product {
	width: 45%;
	margin: auto;
}

.product_information {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.product_information_child {
	width: 50%;
	padding: 20px 20px 0px 20px;
	display: flex;
	margin: 0px 20px;
	flex-direction: column;
	justify-content: space-between;
}

.creator {
	background-color: #A1CDA8;
	text-align: right;
	padding: 20px;
	margin-bottom: 0;
}

.bg_grey {
	background-color: #ECECEC;
	border-bottom: solid 10px #A1CDA8;
}

.date {
	text-align: right;
	margin-top: 50px;
}

.navigation {
	background-color: red;
}
