/* Page détail produit */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5% 15%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #627264;
}

h2 {
  margin: 0;
}

.product_essential {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hr-horizontal {
  color: black;
  height: 2px;
  background-color: black;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.ml-0 {
  margin-left: 0;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.img-product {
  width: 45%;
  margin: auto;
}

.product_information {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.product_information_child {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.creator {
  background-color: #a1cda8;
  text-align: right;
  padding: 20px;
  margin-bottom: O !important;
}

.bg_grey {
  background-color: #ececec;
}

.date {
  text-align: right;
  margin-top: 50px;
}

/* Main page */
.title {
  text-align: center;
  margin: 50px 0;
}

.allentities {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px 25px;
}

.titlenft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.namenft {
  font-size: 21px;
  margin-bottom: 0;
  width: 300px;
  word-wrap: break-word;
}

.image {
  width: 415px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.favorite {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.favorite:before,
.favorite:after {
  content: "";
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.favorite:before {
  top: -5px;
  left: 0;
}

.favorite:after {
  left: 5px;
  top: 0;
}

.favoriteadd,
.favoriteadd:before,
.favoriteadd:after {
  background-color: red;
}

.favoriteremove,
.favoriteremove:before,
.favoriteremove:after {
  background-color: #627264;
}
